.journal_container{
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    
}

.header{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.table_container{

    display: flex;
    justify-content: center;
    padding-top: 2%;
}