.main_menu{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 90vh;
    padding-top: 10px;
    width: 100%;
    background:url('../../../assets/fonnoti.png')
    no-repeat center/cover;
}


.button{
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
    background: none;
    min-width: 40vh;
    min-height: 8vh;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    color: rgb(37, 37, 37);
    display:   inline-block;
    margin:    15px 0px;
    border: none;
    border-bottom: 1px solid #7a34eb;
}




.button:hover{
    background-color: #c6b3e3; /* Green */
    color: white;
  }
.button::after{
    background-color: #c6b3e3; /* Green */
    color: white;
  }



.main_menu_block{
    min-width: 50vh;

}

.main_menu_block li a{
  display: flex;
  align-items: center;
  justify-content: center;


}