footer{
    justify-content: center;
    display: flex;
    min-height: 20vh;
    background: linear-gradient(rgba(0, 0, 0, 1),rgba(8, 8, 8, 1));
}

footer a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

footer a:hover{
    text-decoration: none;
    font-size: 14px;
    color: rgb(107, 107, 107);
}

.box{
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu{
    padding-left: 5vh;
    padding-top: 4vh;
}