.content{
    width: 100%;
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(2, 2, 2, 0.6),rgba(7, 7, 7, 0.6)),  url('../../assets/169815923239.jpg')
    no-repeat center/cover;
    text-align: center;
    column-gap: 10vh;
}

.mainContent{
    
    width: 90%;
    display: flex;
    padding-left: 10vh;
  
}

.content .main {
  margin-right: 10vh;
}

.content h1{
    font-size: 7rem;
    font-weight: bold;
    color: rgb(179, 157, 184);
}

.content h2{
    font-size: 5rem;
    font-weight: bold;
    color: #ffffff;
}


.main_melody{
    color: #fffbfb;
    font-size: 8rem;
}

@media (max-width: 850px) {
   .container_form{
    display: none;
   }
}