.content{
    width: 100%;
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(2, 2, 2, 0.6),rgba(7, 7, 7, 0.6)),  url('../../assets/169815923239.jpg')
    no-repeat center/cover;
    text-align: center;
    column-gap: 10vh;
}

.mainContent{
    
    width: 90%;
    display: flex;
    padding-left: 10vh;
  
}

.content .main {
  margin-right: 10vh;
}

.content h1{
    font-size: 7rem;
    font-weight: bold;
    color: rgb(179, 157, 184);
}

.content h2{
    font-size: 5rem;
    font-weight: bold;
    color: #ffffff;
}

.container_form{
    margin-left: 10vh;
}
.container_form input{
    padding: 1rem;
    margin: 1rem;
    width: 25rem;
    height: 6rem;
    background: linear-gradient(rgba(90, 88, 88, 0.164),rgba(39, 38, 38, 0.13));
    border: .2rem solid rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    border-radius: 1rem;
    color: #ffffff;
    transition: all .5s;

}


.btn{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-align: center;
    cursor: pointer;
}
 
.btn:hover{
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    transition: all 2ms;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

.main_melody{
    color: #fffbfb;
    font-size: 8rem;
}

@media (max-width: 850px) {
   .container_form{
    display: none;
   }
}