.container{
    height: 90vh;
    width: 100%;
    min-height: 80vh;
    column-gap: 10vh;
    background: linear-gradient(rgba(2, 2, 2, 0.6),rgba(7, 7, 7, 0.6)),  url('../../assets/169815923239.jpg')
}
.h1style{
    display: flex;
    justify-content: center;
    padding: 3%;
    color: #fff;
}
.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

.group_settings{
    margin: 2%;
    width: 30vw;
    border: 1px solid #fff;
    font-size: 20px;
    color: #fff;
}

.group_settings h2{
    padding-top: 5%;
    font-size: 20px;
    color: rgb(158, 164, 170);
}

.checkbox_module{
   padding-left: 10%; 
   margin: 5%;
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    column-gap: 8%;
}


.check {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .check {
    background-color: #fff;
    cursor: pointer;
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: all 0.4s ease-out;
  }

  .check:hover{
    box-shadow: -2px -2px 10px 2px rgb(223, 219, 219), 2px 2px 10px 2px rgb(88, 88, 170);
  }

  .check input:checked::before{
    background-color: aqua;
  }

  .check text{
    color:aqua;
  }

  .btn{
    margin: 5%;
    width: 25rem;
    height: 6rem;
    border-radius: 1rem;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(rgba(90, 88, 88, 0.164),rgba(39, 38, 38, 0.13));
    border: .2rem solid rgb(255, 255, 255);
    color: #ffffff;
    font-size: 2rem;
}
 
.btn:hover{
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    transition: all 2ms;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}





  
    

